1_Node-red-json/simulation_flows.json
[{"id":"d2098635.7f7748","type":"tab","label":"SmartHome","disabled":false,"info":""},{"id":"ab7a064f.30e0b8","type":"ui_switch","z":"d2098635.7f7748","name":"","label":"AC ON/OFF","tooltip":"","group":"ebd92f27.eb814","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":610,"y":620,"wires":[["ce404b22.330548"]]},{"id":"1e0215d7.ad01ea","type":"ui_slider","z":"d2098635.7f7748","name":"","label":"AC Fan Speed","tooltip":"","group":"ebd92f27.eb814","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"1","max":"3","step":1,"x":620,"y":720,"wires":[["9a009681.c86418","84578797.e70f08"]]},{"id":"bc2aac12.e99fb","type":"ui_numeric","z":"d2098635.7f7748","name":"","label":"AC Temperature","tooltip":"","group":"ebd92f27.eb814","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{msg.payload}}","min":0,"max":"100","step":1,"x":620,"y":820,"wires":[["db80b84e.5ae998","d850e8d3.d24c18"]]},{"id":"669b658a.007f7c","type":"function","z":"d2098635.7f7748","name":"AC-1","func":"var id = 1;\nvar data = flow.get('data_'+id);\n\n//judge if payload comes from S/command\nif(msg.payload && msg.payload.id){\n    data = msg.payload;\n}\n\n//ignore other AC changes\nif(data.id !== id){\n    return;\n}\n\nvar on_off = {payload: !!data.on_off};\nvar fan_speed_map = {\"slow\":1,\"medium\":2,\"fast\":3}\nvar fan_speed = {payload: fan_speed_map[data.fan_speed]};\nvar ac_temp = {payload: data.ac_temperature};\nvar room_temp = {payload: data.room_temperature};\nvar humidity = {payload: data.humidity};\nvar mode = {payload: data.mode === 1}\n\nreturn [on_off, fan_speed, ac_temp, room_temp, humidity, mode];","outputs":6,"noerr":0,"initialize":"","finalize":"","x":390,"y":820,"wires":[["ab7a064f.30e0b8"],["1e0215d7.ad01ea"],["bc2aac12.e99fb"],["bc4295c0.cf66a8"],["fc8b9988.2db2e8"],["6e37e3b.6c9911c"]]},{"id":"9a009681.c86418","type":"function","z":"d2098635.7f7748","name":"Parser","func":"var id = 1;\nvar data = flow.get(\"data_\"+id);\nvar fan_speed_map = {'1':\"slow\",'2':\"medium\",'3':\"fast\"}\nvar fan_speed = fan_speed_map[msg.payload];\n\ndata.fan_speed = fan_speed;\nmsg.payload = data;\n// just for debugging\n// msg.payload = {'key':'fan_speed','payload':msg.payload};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":720,"wires":[["97b2fbcd.ef7a38"]]},{"id":"db80b84e.5ae998","type":"function","z":"d2098635.7f7748","name":"Parser","func":"var id = 1;\nvar data = flow.get(\"data_\"+id);\nvar ac_temperature = msg.payload;\n\ndata.ac_temperature = ac_temperature;\nmsg.payload = data;\n// just for debugging\n// msg.payload = {'key':'ac_temperature', 'payload':msg.payload};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":820,"wires":[["97b2fbcd.ef7a38"]]},{"id":"548d902a.c6ae9","type":"mqtt out","z":"d2098635.7f7748","name":"","topic":"S/request_info","qos":"2","retain":"","broker":"13efa096.89001f","x":460,"y":420,"wires":[]},{"id":"1e27cb23.3721d5","type":"inject","z":"d2098635.7f7748","name":"Simulate S/request_info","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"requestInfo","payloadType":"str","x":180,"y":420,"wires":[["548d902a.c6ae9"]]},{"id":"e9c46b46.f265c8","type":"mqtt in","z":"d2098635.7f7748","name":"","topic":"R/update","qos":"2","datatype":"json","broker":"13efa096.89001f","x":220,"y":300,"wires":[["8af3e1e3.3a832"]]},{"id":"92550ccb.db59b","type":"mqtt in","z":"d2098635.7f7748","name":"","topic":"S/request_info","qos":"2","datatype":"utf8","broker":"13efa096.89001f","x":220,"y":780,"wires":[["669b658a.007f7c"]]},{"id":"8af3e1e3.3a832","type":"debug","z":"d2098635.7f7748","name":"Debugging","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":300,"wires":[]},{"id":"d5b3279a.55da58","type":"mqtt out","z":"d2098635.7f7748","name":"","topic":"R/update","qos":"2","retain":"","broker":"13efa096.89001f","x":1400,"y":820,"wires":[]},{"id":"ce404b22.330548","type":"function","z":"d2098635.7f7748","name":"Parser","func":"var id = 1;\nvar data = flow.get(\"data_\"+id);\nvar on_off = msg.payload? 1: 0;\n\ndata.on_off = on_off;\nmsg.payload = data;\n// just for debugging\n// msg.payload = {'key':'on_off','payload':msg.payload};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":620,"wires":[["97b2fbcd.ef7a38"]]},{"id":"5746509a.131d8","type":"inject","z":"d2098635.7f7748","name":"Reset","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":480,"wires":[["2637057f.3c6d9a"]]},{"id":"2637057f.3c6d9a","type":"change","z":"d2098635.7f7748","name":"AC Data Simulation","rules":[{"t":"set","p":"data_1","pt":"flow","to":"{\"mode\":1,\"fan_speed\":\"slow\",\"room_temperature\":10,\"ac_temperature\":23,\"humidity\":77,\"id\":1,\"on_off\":0,\"room\":\"master bedroom\"}","tot":"json"},{"t":"set","p":"data_2","pt":"flow","to":"{\"mode\":1,\"fan_speed\":\"slow\",\"room_temperature\":8,\"ac_temperature\":24,\"humidity\":77,\"id\":2,\"on_off\":0,\"room\":\"living room\"}","tot":"json"},{"t":"set","p":"data_3","pt":"flow","to":"{\"mode\":1,\"fan_speed\":\"slow\",\"room_temperature\":9,\"ac_temperature\":25,\"humidity\":77,\"id\":3,\"on_off\":0,\"room\":\"guest bedroom\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":480,"wires":[[]]},{"id":"97b2fbcd.ef7a38","type":"join","z":"d2098635.7f7748","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":".1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1090,"y":820,"wires":[["ec9024e.25199d8"]]},{"id":"d850e8d3.d24c18","type":"ui_gauge","z":"d2098635.7f7748","name":"","group":"4849d374.ffd4ac","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":780,"wires":[]},{"id":"84578797.e70f08","type":"ui_gauge","z":"d2098635.7f7748","name":"","group":"4849d374.ffd4ac","order":2,"width":0,"height":0,"gtype":"gage","title":"Fan Speed","label":"","format":"{{msg.payload}}","min":"1","max":"3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":680,"wires":[]},{"id":"bc4295c0.cf66a8","type":"ui_numeric","z":"d2098635.7f7748","name":"","label":"Room Temperature","tooltip":"","group":"ebd92f27.eb814","order":6,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{msg.payload}}","min":0,"max":"100","step":1,"x":630,"y":920,"wires":[["e797a7bf.1dbbe8","df093d09.d93c"]]},{"id":"e797a7bf.1dbbe8","type":"function","z":"d2098635.7f7748","name":"Parser","func":"var id = 1;\nvar data = flow.get(\"data_\"+id);\nvar room_temperature = msg.payload;\n\ndata.room_temperature = room_temperature;\nmsg.payload = data;\n// just for debugging\n// msg.payload = {'key':'room_temperature','payload':msg.payload};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":920,"wires":[["97b2fbcd.ef7a38"]]},{"id":"df093d09.d93c","type":"ui_gauge","z":"d2098635.7f7748","name":"","group":"f7954d9.f7b00b","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":880,"wires":[]},{"id":"fc8b9988.2db2e8","type":"ui_numeric","z":"d2098635.7f7748","name":"","label":"Humidity","tooltip":"","group":"ebd92f27.eb814","order":7,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{msg.payload}}","min":0,"max":"100","step":1,"x":600,"y":1020,"wires":[["8142458.250e2b8","13cee9cf.8e8dc6"]]},{"id":"8142458.250e2b8","type":"function","z":"d2098635.7f7748","name":"Parser","func":"var id = 1;\nvar data = flow.get(\"data_\"+id);\nvar humidity = msg.payload;\n\ndata.humidity = humidity;\nmsg.payload = data;\n// just for debugging\n// msg.payload = {'key':'humidity','payload':msg.payload};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":1020,"wires":[["97b2fbcd.ef7a38"]]},{"id":"13cee9cf.8e8dc6","type":"ui_gauge","z":"d2098635.7f7748","name":"","group":"f7954d9.f7b00b","order":1,"width":0,"height":0,"gtype":"donut","title":"Humidity","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":840,"y":980,"wires":[]},{"id":"6e37e3b.6c9911c","type":"ui_switch","z":"d2098635.7f7748","name":"","label":"AC Cooling mode","tooltip":"","group":"ebd92f27.eb814","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":630,"y":1120,"wires":[["38a6fa5b.de2776","346e4e15.233c62"]]},{"id":"38a6fa5b.de2776","type":"function","z":"d2098635.7f7748","name":"Parser","func":"var id = 1;\nvar data = flow.get(\"data_\"+id);\nvar mode = msg.payload? 1: 2;\n\ndata.mode = mode;\nmsg.payload = data;\n// just for debugging\n// msg.payload = {'key':'mode','payload':msg.payload};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":1120,"wires":[["97b2fbcd.ef7a38"]]},{"id":"346e4e15.233c62","type":"ui_text","z":"d2098635.7f7748","group":"4849d374.ffd4ac","order":0,"width":0,"height":0,"name":"","label":"Mode - ","format":"{{msg.payload ? 'Cooling':'Warming'}}","layout":"row-center","x":840,"y":1080,"wires":[]},{"id":"e434006.09a1","type":"ui_text","z":"d2098635.7f7748","group":"ebd92f27.eb814","order":5,"width":0,"height":0,"name":"","label":"","format":"{{\"1:slow, 2: medium, 3:high\"}}","layout":"row-spread","x":650,"y":760,"wires":[]},{"id":"8e125d68.f08a7","type":"mqtt in","z":"d2098635.7f7748","name":"","topic":"S/command","qos":"2","datatype":"json","broker":"13efa096.89001f","x":230,"y":860,"wires":[["669b658a.007f7c"]]},{"id":"a057315.9e576d","type":"inject","z":"d2098635.7f7748","name":"Simulate S/command","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"mode\":2,\"fan_speed\":\"medium\",\"room_temperature\":26,\"ac_temperature\":23,\"humidity\":66,\"id\":1,\"on_off\":1,\"room\":\"master bedroom\"}","payloadType":"json","x":180,"y":360,"wires":[["3cffbf72.94a64"]]},{"id":"3cffbf72.94a64","type":"mqtt out","z":"d2098635.7f7748","name":"","topic":"S/command","qos":"2","retain":"","broker":"13efa096.89001f","x":450,"y":360,"wires":[]},{"id":"14af5845.966f48","type":"mqtt in","z":"d2098635.7f7748","name":"","topic":"S/command","qos":"2","datatype":"json","broker":"13efa096.89001f","x":210,"y":240,"wires":[["8af3e1e3.3a832"]]},{"id":"ec9024e.25199d8","type":"change","z":"d2098635.7f7748","name":"","rules":[{"t":"set","p":"data_1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":820,"wires":[["d5b3279a.55da58"]]},{"id":"815f0736.f14108","type":"ui_switch","z":"d2098635.7f7748","name":"","label":"AC ON/OFF","tooltip":"","group":"f90a5978.3c2d28","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":610,"y":1220,"wires":[["21dbbe12.b81942"]]},{"id":"1f27a722.44a3b9","type":"ui_slider","z":"d2098635.7f7748","name":"","label":"AC Fan Speed","tooltip":"","group":"f90a5978.3c2d28","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"1","max":"3","step":1,"x":620,"y":1320,"wires":[["424609a9.68ab78","3e2ff982.c02b76"]]},{"id":"30c8255e.30ccba","type":"ui_numeric","z":"d2098635.7f7748","name":"","label":"AC Temperature","tooltip":"","group":"f90a5978.3c2d28","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{msg.payload}}","min":0,"max":"100","step":1,"x":620,"y":1420,"wires":[["b97aaebc.161a","62a0076a.cbd4a8"]]},{"id":"a6db1f12.c23a","type":"function","z":"d2098635.7f7748","name":"AC-2","func":"var id = 2;\nvar data = flow.get('data_'+id);\n\n//judge if payload comes from S/command\nif(msg.payload && msg.payload.id){\n    data = msg.payload;\n}\n\n//ignore other AC changes\nif(data.id !== id){\n    return;\n}\n\nvar on_off = {payload: !!data.on_off};\nvar fan_speed_map = {\"slow\":1,\"medium\":2,\"fast\":3}\nvar fan_speed = {payload: fan_speed_map[data.fan_speed]};\nvar ac_temp = {payload: data.ac_temperature};\nvar room_temp = {payload: data.room_temperature};\nvar humidity = {payload: data.humidity};\nvar mode = {payload: data.mode === 1}\n\nreturn [on_off, fan_speed, ac_temp, room_temp, humidity, mode];","outputs":6,"noerr":0,"initialize":"","finalize":"","x":390,"y":1420,"wires":[["815f0736.f14108"],["1f27a722.44a3b9"],["30c8255e.30ccba"],["132450a0.43dc1f"],["8f94e2c7.b9b8b"],["c9fca278.ee7e9"]]},{"id":"424609a9.68ab78","type":"function","z":"d2098635.7f7748","name":"Parser","func":"var id = 2;\nvar data = flow.get(\"data_\"+id);\nvar fan_speed_map = {'1':\"slow\",'2':\"medium\",'3':\"fast\"}\nvar fan_speed = fan_speed_map[msg.payload];\n\ndata.fan_speed = fan_speed;\nmsg.payload = data;\n// just for debugging\n// msg.payload = {'key':'fan_speed','payload':msg.payload};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":1320,"wires":[["14e6f4f8.5209cb"]]},{"id":"b97aaebc.161a","type":"function","z":"d2098635.7f7748","name":"Parser","func":"var id = 2;\nvar data = flow.get(\"data_\"+id);\nvar ac_temperature = msg.payload;\n\ndata.ac_temperature = ac_temperature;\nmsg.payload = data;\n// just for debugging\n// msg.payload = {'key':'ac_temperature', 'payload':msg.payload};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":1420,"wires":[["14e6f4f8.5209cb"]]},{"id":"67b95539.a365dc","type":"mqtt in","z":"d2098635.7f7748","name":"","topic":"S/request_info","qos":"2","datatype":"utf8","broker":"13efa096.89001f","x":220,"y":1380,"wires":[["a6db1f12.c23a"]]},{"id":"4e8e0521.4c95ac","type":"mqtt out","z":"d2098635.7f7748","name":"","topic":"R/update","qos":"2","retain":"","broker":"13efa096.89001f","x":1400,"y":1420,"wires":[]},{"id":"21dbbe12.b81942","type":"function","z":"d2098635.7f7748","name":"Parser","func":"var id = 2;\nvar data = flow.get(\"data_\"+id);\nvar on_off = msg.payload? 1: 0;\n\ndata.on_off = on_off;\nmsg.payload = data;\n// just for debugging\n// msg.payload = {'key':'on_off','payload':msg.payload};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":1220,"wires":[["14e6f4f8.5209cb"]]},{"id":"14e6f4f8.5209cb","type":"join","z":"d2098635.7f7748","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"0.1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1090,"y":1420,"wires":[["174469c.7025196"]]},{"id":"62a0076a.cbd4a8","type":"ui_gauge","z":"d2098635.7f7748","name":"","group":"4d85405a.1e40e","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":1380,"wires":[]},{"id":"3e2ff982.c02b76","type":"ui_gauge","z":"d2098635.7f7748","name":"","group":"4d85405a.1e40e","order":2,"width":0,"height":0,"gtype":"gage","title":"Fan Speed","label":"","format":"{{msg.payload}}","min":"1","max":"3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":1280,"wires":[]},{"id":"132450a0.43dc1f","type":"ui_numeric","z":"d2098635.7f7748","name":"","label":"Room Temperature","tooltip":"","group":"f90a5978.3c2d28","order":6,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{msg.payload}}","min":0,"max":"100","step":1,"x":630,"y":1520,"wires":[["dea53fe7.7e5bb","32950dfe.f573d2"]]},{"id":"dea53fe7.7e5bb","type":"function","z":"d2098635.7f7748","name":"Parser","func":"var id = 2;\nvar data = flow.get(\"data_\"+id);\nvar room_temperature = msg.payload;\n\ndata.room_temperature = room_temperature;\nmsg.payload = data;\n// just for debugging\n// msg.payload = {'key':'room_temperature','payload':msg.payload};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":1520,"wires":[["14e6f4f8.5209cb"]]},{"id":"32950dfe.f573d2","type":"ui_gauge","z":"d2098635.7f7748","name":"","group":"bbd57683.c5a9d8","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":1480,"wires":[]},{"id":"8f94e2c7.b9b8b","type":"ui_numeric","z":"d2098635.7f7748","name":"","label":"Humidity","tooltip":"","group":"f90a5978.3c2d28","order":7,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{msg.payload}}","min":0,"max":"100","step":1,"x":600,"y":1620,"wires":[["4a1729ee.e319b8","bfb7ccf4.a9124"]]},{"id":"4a1729ee.e319b8","type":"function","z":"d2098635.7f7748","name":"Parser","func":"var id = 2;\nvar data = flow.get(\"data_\"+id);\nvar humidity = msg.payload;\n\ndata.humidity = humidity;\nmsg.payload = data;\n// just for debugging\n// msg.payload = {'key':'humidity','payload':msg.payload};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":1620,"wires":[["14e6f4f8.5209cb"]]},{"id":"bfb7ccf4.a9124","type":"ui_gauge","z":"d2098635.7f7748","name":"","group":"bbd57683.c5a9d8","order":1,"width":0,"height":0,"gtype":"donut","title":"Humidity","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":840,"y":1580,"wires":[]},{"id":"c9fca278.ee7e9","type":"ui_switch","z":"d2098635.7f7748","name":"","label":"AC Cooling mode","tooltip":"","group":"f90a5978.3c2d28","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":630,"y":1720,"wires":[["b569ff86.8fea3","aaa62dac.bbf63"]]},{"id":"b569ff86.8fea3","type":"function","z":"d2098635.7f7748","name":"Parser","func":"var id = 2;\nvar data = flow.get(\"data_\"+id);\nvar mode = msg.payload? 1: 2;\n\ndata.mode = mode;\nmsg.payload = data;\n// just for debugging\n// msg.payload = {'key':'mode','payload':msg.payload};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":1720,"wires":[["14e6f4f8.5209cb"]]},{"id":"aaa62dac.bbf63","type":"ui_text","z":"d2098635.7f7748","group":"4d85405a.1e40e","order":0,"width":0,"height":0,"name":"","label":"Mode - ","format":"{{msg.payload ? 'Cooling':'Warming'}}","layout":"row-center","x":840,"y":1680,"wires":[]},{"id":"ce35c5a4.25fab8","type":"ui_text","z":"d2098635.7f7748","group":"f90a5978.3c2d28","order":5,"width":0,"height":0,"name":"","label":"","format":"{{\"1:slow, 2: medium, 3:high\"}}","layout":"row-spread","x":650,"y":1360,"wires":[]},{"id":"82f969cd.526e08","type":"mqtt in","z":"d2098635.7f7748","name":"","topic":"S/command","qos":"2","datatype":"json","broker":"13efa096.89001f","x":230,"y":1460,"wires":[["a6db1f12.c23a"]]},{"id":"174469c.7025196","type":"change","z":"d2098635.7f7748","name":"","rules":[{"t":"set","p":"data_2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":1420,"wires":[["4e8e0521.4c95ac"]]},{"id":"e8ffd1a.f69713","type":"ui_switch","z":"d2098635.7f7748","name":"","label":"AC ON/OFF","tooltip":"","group":"85152ee5.48d54","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":610,"y":1820,"wires":[["b59b3f49.a61ea"]]},{"id":"9c008328.5a7e3","type":"ui_slider","z":"d2098635.7f7748","name":"","label":"AC Fan Speed","tooltip":"","group":"85152ee5.48d54","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"1","max":"3","step":1,"x":620,"y":1920,"wires":[["28c6f17c.a293be","ab30f8f.1c14e08"]]},{"id":"ca849cb0.4cd33","type":"ui_numeric","z":"d2098635.7f7748","name":"","label":"AC Temperature","tooltip":"","group":"85152ee5.48d54","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{msg.payload}}","min":0,"max":"100","step":1,"x":620,"y":2020,"wires":[["bf8db992.1a64c8","e37d44f0.9373a8"]]},{"id":"5fa78a12.e7d654","type":"function","z":"d2098635.7f7748","name":"AC-3","func":"var id = 3;\nvar data = flow.get('data_'+id);\n\n//judge if payload comes from S/command\nif(msg.payload && msg.payload.id){\n    data = msg.payload;\n}\n\n//ignore other AC changes\nif(data.id !== id){\n    return;\n}\n\nvar on_off = {payload: !!data.on_off};\nvar fan_speed_map = {\"slow\":1,\"medium\":2,\"fast\":3}\nvar fan_speed = {payload: fan_speed_map[data.fan_speed]};\nvar ac_temp = {payload: data.ac_temperature};\nvar room_temp = {payload: data.room_temperature};\nvar humidity = {payload: data.humidity};\nvar mode = {payload: data.mode === 1}\n\nreturn [on_off, fan_speed, ac_temp, room_temp, humidity, mode];","outputs":6,"noerr":0,"initialize":"","finalize":"","x":390,"y":2020,"wires":[["e8ffd1a.f69713"],["9c008328.5a7e3"],["ca849cb0.4cd33"],["63246316.7194ac"],["7e5d9b74.cf6154"],["8c39c45b.5db058"]]},{"id":"28c6f17c.a293be","type":"function","z":"d2098635.7f7748","name":"Parser","func":"var id = 3;\nvar data = flow.get(\"data_\"+id);\nvar fan_speed_map = {'1':\"slow\",'2':\"medium\",'3':\"fast\"}\nvar fan_speed = fan_speed_map[msg.payload];\n\ndata.fan_speed = fan_speed;\nmsg.payload = data;\n// just for debugging\n// msg.payload = {'key':'fan_speed','payload':msg.payload};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":1920,"wires":[["2edd4e6a.0a8192"]]},{"id":"bf8db992.1a64c8","type":"function","z":"d2098635.7f7748","name":"Parser","func":"var id = 3;\nvar data = flow.get(\"data_\"+id);\nvar ac_temperature = msg.payload;\n\ndata.ac_temperature = ac_temperature;\nmsg.payload = data;\n// just for debugging\n// msg.payload = {'key':'ac_temperature', 'payload':msg.payload};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":2020,"wires":[["2edd4e6a.0a8192"]]},{"id":"beec3853.8f8a28","type":"mqtt in","z":"d2098635.7f7748","name":"","topic":"S/request_info","qos":"2","datatype":"utf8","broker":"13efa096.89001f","x":220,"y":1980,"wires":[["5fa78a12.e7d654"]]},{"id":"afdad35d.c6c93","type":"mqtt out","z":"d2098635.7f7748","name":"","topic":"R/update","qos":"2","retain":"","broker":"13efa096.89001f","x":1400,"y":2020,"wires":[]},{"id":"b59b3f49.a61ea","type":"function","z":"d2098635.7f7748","name":"Parser","func":"var id = 3;\nvar data = flow.get(\"data_\"+id);\nvar on_off = msg.payload? 1: 0;\n\ndata.on_off = on_off;\nmsg.payload = data;\n// just for debugging\n// msg.payload = {'key':'on_off','payload':msg.payload};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":1820,"wires":[["2edd4e6a.0a8192"]]},{"id":"2edd4e6a.0a8192","type":"join","z":"d2098635.7f7748","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"0.1","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1090,"y":2020,"wires":[["13346777.dce609"]]},{"id":"e37d44f0.9373a8","type":"ui_gauge","z":"d2098635.7f7748","name":"","group":"c5addc74.0a026","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":1980,"wires":[]},{"id":"ab30f8f.1c14e08","type":"ui_gauge","z":"d2098635.7f7748","name":"","group":"c5addc74.0a026","order":2,"width":0,"height":0,"gtype":"gage","title":"Fan Speed","label":"","format":"{{msg.payload}}","min":"1","max":"3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":1880,"wires":[]},{"id":"63246316.7194ac","type":"ui_numeric","z":"d2098635.7f7748","name":"","label":"Room Temperature","tooltip":"","group":"85152ee5.48d54","order":6,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{msg.payload}}","min":0,"max":"100","step":1,"x":630,"y":2120,"wires":[["d6b2397e.741028","12c91f4f.ab7691"]]},{"id":"d6b2397e.741028","type":"function","z":"d2098635.7f7748","name":"Parser","func":"var id = 3;\nvar data = flow.get(\"data_\"+id);\nvar room_temperature = msg.payload;\n\ndata.room_temperature = room_temperature;\nmsg.payload = data;\n// just for debugging\n// msg.payload = {'key':'room_temperature','payload':msg.payload};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":2120,"wires":[["2edd4e6a.0a8192"]]},{"id":"12c91f4f.ab7691","type":"ui_gauge","z":"d2098635.7f7748","name":"","group":"36917aed.1cbea6","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":2080,"wires":[]},{"id":"7e5d9b74.cf6154","type":"ui_numeric","z":"d2098635.7f7748","name":"","label":"Humidity","tooltip":"","group":"85152ee5.48d54","order":7,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{msg.payload}}","min":0,"max":"100","step":1,"x":600,"y":2220,"wires":[["58e65a69.8ce9a4","f9ab3bbe.282898"]]},{"id":"58e65a69.8ce9a4","type":"function","z":"d2098635.7f7748","name":"Parser","func":"var id = 3;\nvar data = flow.get(\"data_\"+id);\nvar humidity = msg.payload;\n\ndata.humidity = humidity;\nmsg.payload = data;\n// just for debugging\n// msg.payload = {'key':'humidity','payload':msg.payload};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":2220,"wires":[["2edd4e6a.0a8192"]]},{"id":"f9ab3bbe.282898","type":"ui_gauge","z":"d2098635.7f7748","name":"","group":"36917aed.1cbea6","order":1,"width":0,"height":0,"gtype":"donut","title":"Humidity","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":840,"y":2180,"wires":[]},{"id":"8c39c45b.5db058","type":"ui_switch","z":"d2098635.7f7748","name":"","label":"AC Cooling mode","tooltip":"","group":"85152ee5.48d54","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":630,"y":2320,"wires":[["1d34a2d2.2f9b0d","935caa05.0fab68"]]},{"id":"1d34a2d2.2f9b0d","type":"function","z":"d2098635.7f7748","name":"Parser","func":"var id = 3;\nvar data = flow.get(\"data_\"+id);\nvar mode = msg.payload? 1: 2;\n\ndata.mode = mode;\nmsg.payload = data;\n// just for debugging\n// msg.payload = {'key':'mode','payload':msg.payload};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":2320,"wires":[["2edd4e6a.0a8192"]]},{"id":"935caa05.0fab68","type":"ui_text","z":"d2098635.7f7748","group":"c5addc74.0a026","order":0,"width":0,"height":0,"name":"","label":"Mode - ","format":"{{msg.payload ? 'Cooling':'Warming'}}","layout":"row-center","x":840,"y":2280,"wires":[]},{"id":"87d60813.f4b998","type":"ui_text","z":"d2098635.7f7748","group":"85152ee5.48d54","order":5,"width":0,"height":0,"name":"","label":"","format":"{{\"1:slow, 2: medium, 3:high\"}}","layout":"row-spread","x":650,"y":1960,"wires":[]},{"id":"2f9a3676.f1a1ca","type":"mqtt in","z":"d2098635.7f7748","name":"","topic":"S/command","qos":"2","datatype":"json","broker":"13efa096.89001f","x":230,"y":2060,"wires":[["5fa78a12.e7d654"]]},{"id":"13346777.dce609","type":"change","z":"d2098635.7f7748","name":"","rules":[{"t":"set","p":"data_3","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":2020,"wires":[["afdad35d.c6c93"]]},{"id":"ebd92f27.eb814","type":"ui_group","name":"Control","tab":"19b48a19.f761c6","order":1,"disp":true,"width":"6","collapse":false},{"id":"13efa096.89001f","type":"mqtt-broker","name":"","broker":"108.61.170.32","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4849d374.ffd4ac","type":"ui_group","name":"Air Conditioner","tab":"19b48a19.f761c6","order":2,"disp":true,"width":"6","collapse":false},{"id":"f7954d9.f7b00b","type":"ui_group","name":"Room","tab":"19b48a19.f761c6","order":3,"disp":true,"width":"6","collapse":false},{"id":"f90a5978.3c2d28","type":"ui_group","name":"Control","tab":"c5a95e30.93405","order":1,"disp":true,"width":"6","collapse":false},{"id":"4d85405a.1e40e","type":"ui_group","name":"Air Conditioner","tab":"c5a95e30.93405","order":2,"disp":true,"width":"6","collapse":false},{"id":"bbd57683.c5a9d8","type":"ui_group","name":"Room","tab":"c5a95e30.93405","order":3,"disp":true,"width":"6","collapse":false},{"id":"85152ee5.48d54","type":"ui_group","name":"Control","tab":"1251c548.7f9e5b","order":1,"disp":true,"width":"6","collapse":false},{"id":"c5addc74.0a026","type":"ui_group","name":"Air Conditioner","tab":"1251c548.7f9e5b","order":2,"disp":true,"width":"6","collapse":false},{"id":"36917aed.1cbea6","type":"ui_group","name":"Room","tab":"1251c548.7f9e5b","order":3,"disp":true,"width":"6","collapse":false},{"id":"19b48a19.f761c6","type":"ui_tab","name":"Master Bedroom","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"c5a95e30.93405","type":"ui_tab","name":"Living Room","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"1251c548.7f9e5b","type":"ui_tab","name":"Guest Bedroom","icon":"dashboard","order":4,"disabled":false,"hidden":false}]